/*
* Sander De Bleecker - 2 NMCT1
* 08/08/2015
* Web advanced : DPD - Parcel Delivery
*/

body{
	margin:0px;
}
body div{

}
header{
	height: 60px;
}
	header > img{
		float:right;
	}
	header > nav{
		float:left;
	}
	header > nav > ul > li{
		list-style: none;
		display: block;
		padding:0 50px;
		float:left;
	}

/*frequent classes*/
div#slide_wrapper{
	width:10000px;
}
div.slide{
	float:left;
}
/*slide1*/
div#slide1{
	background:url("../img/home/slide1_globe.png") no-repeat;
	background-color:#ed1c24;
}

/*slide2*/
div#slide2{
	background-color:#4a5054;
}
div#slide2_wrap{
	margin:auto auto;
}
div#slide2_weight,div#slide2_size,div#slide2_fragility{
	text-align:center;
	line-height:100px;
	float:left;
}
div#slide2_weight{
	background: url("../img/service/service_weight.png") no-repeat;
}
div#slide2_size{
	background: url("../img/service/service_size.png") no-repeat;
}
div#slide2_fragility{
	background: url("../img/service/service_fragility.png") no-repeat;
}
/*slide3*/
div#slide3{

}
div#slide3_tracking{
	margin:auto auto;
	background: url("../img/tracking/tracking_tracker.png") no-repeat;
	background-position: 0 50px;
}
div#slide3 > input[type="button"] {
	background-color:#fff;
	border:3px #000 solid;
}
div#slide4{
	background-color:#4a5054;
}
div#slide4_delivery{
	margin:auto auto;
	background: url("../img/delivery/delivery_login.png") no-repeat;;
}
div#slide4 > input[type="button"] {
	background-color:transparent;
	border:3px #fff solid;
}
/*fonts*/

.title{
	margin:auto auto;
	text-align:center;
	color:#fff;
	font-family: "Ebrima",serif;
	font-weight: 700;
	font-size: 60pt;
}
.subtitle{
	margin:auto auto;
	text-align:center;
	color:#fff;
	font-family: "Ebrima",serif;
	font-weight: 700;
	font-size: 48pt;
}
.smalltitle{
	margin:auto auto;
	text-align:center;
	color:#fff;
	font-family: "Ebrima",serif;
	font-weight: 400;
	font-size: 24pt;
}
.black{
	color:#000;
}
/*misc*/
