/*
* Sander De Bleecker - 2 NMCT1
* 08/08/2015
* Web advanced : DPD - Parcel Delivery
*/

body{
	margin:0px;
}
body div{

}
header{
	height: 60px;
	margin:0 0;
}
	header > nav{
	}
		header > nav > ul{
		}
			header > nav > ul > li{
				text-align:center;
				list-style: none;
				display: block;
				padding:0 50px;
				color:#999;
				width:15%;
				font-family:"Ebrima";
				float:left;
			}
				header > nav > ul > li > a:hover {
					font-weight:700;
				}

/*frequent classes*/
div#slide_wrapper{
}
div.slide{
	float:left;
}
/*slide1*/



/*slide2*/
div#service{
	background-color:#4a5054;
}
div#slide2_wrap{
	margin:auto auto;
}
div#slide2_weight,div#slide2_size,div#slide2_fragility{
	text-align:center;
	line-height:100px;
	float:left;
}

/*slide3*/
div#tracking{

}

div#tracking > input[type="button"] {
	background-color:transparent;
	border:3px #000 solid;
}
div#delivery{
	background-color:#4a5054;
}
div#slide4_delivery{
	margin-left: auto;
	margin-right: auto;
}
div#delivery > input[type="button"] {
	background-color:transparent;
	border:3px #fff solid;
}

/*images*/
@media (min-width:600px) and (max-width: 1920px)  {
	.title{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 32pt;
	}
	.subtitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 24pt;
	}
	.smalltitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 400;
		font-size: 16pt;
	}
	div#service_slogan{
		margin-top:120px;
	}	
	/*images*/
	div#home{
		background:url("../img/home/slide1_globe_1024.png") no-repeat;
		background-color:#ed1c24;
	}
	div#slide2_weight,div#slide2_size,div#slide2_fragility{
		line-height: 340px;
	}
	div#slide2_weight{
		margin-top:80px;
		background: url("../img/service/service_weight_1024.png") no-repeat;
	}
	div#slide2_size{
		margin-top:80px;
		background: url("../img/service/service_size_1024.png") no-repeat;
	}
	div#slide2_fragility{
		margin-top:80px;
		background: url("../img/service/service_fragility_1024.png") no-repeat;
	}
	div#slide3_tracking{
		margin:auto auto;
		background: url("../img/tracking/tracking_tracker_1024.png") no-repeat;
		background-position: 0 0px;
	}
	div#slide4_delivery{
		background: url("../img/delivery/delivery_delivery_1024.png") no-repeat;;
	}
	/*button*/
	div#tracking > input[type="button"] {
		/*width:120px;*/
		border:2px #000 solid;
	}
	div#delivery > input[type="button"] {
		/*width:120px;*/
		background-color:transparent;
		border:2px #fff solid;
	}
}
/*fonts*/
@media (min-width:1920px ) {

	.title{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 60pt;
	}
	.subtitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 48pt;
	}
	.smalltitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 400;
		font-size: 24pt;
	}
	/*images*/
	div#home{
		background:url("../img/home/slide1_globe.png") no-repeat;
		background-color:#ed1c24;
	}
	div#slide2_weight{
	background: url("../img/service/service_weight.png") no-repeat;
	}
	div#slide2_size{
		background: url("../img/service/service_size.png") no-repeat;
	}
	div#slide2_fragility{
		background: url("../img/service/service_fragility.png") no-repeat;
	}
	div#slide3_tracking{
		margin:auto auto;
		background: url("../img/tracking/tracking_tracker.png") no-repeat;
		background-position: 0 50px;
	}
	div#slide4_delivery{
		background: url("../img/delivery/delivery_login.png") no-repeat;;
	}
}

@media (max-width: 600px) {
	.title{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 16pt;
	}
	.subtitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 700;
		font-size: 12pt;
	}
	.smalltitle{
		margin:auto auto;
		text-align:center;
		color:#fff;
		font-family: "Ebrima",serif;
		font-weight: 400;
		font-size: 8pt;
	}
	div#service_slogan{
		margin-top:120px;
	}	
	/*images*/
	div#home{
		background:url("../img/home/slide1_globe_480.png") no-repeat;
		background-color:#ed1c24;
	}
	div#slide2_weight,div#slide2_size,div#slide2_fragility{
		line-height: 240px;
	}
	div#slide2_weight{
		margin-top:80px;
		background: url("../img/service/service_weight_480.png") no-repeat;
	}
	div#slide2_size{
		margin-top:80px;
		background: url("../img/service/service_size_480.png") no-repeat;
	}
	div#slide2_fragility{
		margin-top:80px;
		background: url("../img/service/service_fragility_480.png") no-repeat;
	}
	div#slide3_tracking{
		margin:auto auto;
		background: url("../img/tracking/tracking_tracker_480.png") no-repeat;
		background-position: 0 50px;
	}
	div#slide4_delivery{
		background: url("../img/delivery/delivery_delivery_480.png") no-repeat;;
	}
	/*button*/
	div#tracking > input[type="button"] {
		width:120px;
		border:2px #000 solid;
	}
	div#delivery > input[type="button"] {
		width:120px;
		background-color:transparent;
		border:2px #fff solid;
	}
}
/*misc*/
	.black{
		color:#000;
	}