/*
* Sander De Bleecker - 2 NMCT1
* 08/08/2015
* Web advanced : DPD - Parcel Delivery
*/

/*Relative Grid*/
.rg12{
	width: 1920px;
}
.rg9{
	width:1440px;
}
.rg8{
	width:1280px;
}
.rg7{
	width:1140px;
}
.rg6{
	width: 960px;
}
.rg3{
	width: 480px;
}
.rg2{
	width: 320px;
}
/*height*/
.rgh12{
	height:915px; 
}
.rgh6{
	height:457.5px;
}
.rgh4{
	height:305px; 
}
.rgh1{
	height:76.5px;
}
/*x margin*/
.rg8_left_margin{
	margin-left:1280px;
}
/*padding*/
.rg0_5_top_padding{
	padding-top:80px;
}
.rg1_top_padding{
	padding-top:160px;
}
.rg1_25_top_padding{
	padding-top:200px;
}
.rg2_top_padding{
	padding-top:320px;
}
